<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Information about book</title>
</head>
<body>
<h3>Information about book</h3>
<br/>
<a th:text="${book.getTitle()}">id</a>
<br/>
<a th:text="${book.getYear()}">id</a>
<br/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}" >Edit book</a>
<br/>
<form th:method="DELETE" th:object="${book}" th:action="@{/books/{id}/delete(id=${book.getId()})}">
  <br/>
  <input type="submit" value="Delete book"/>
</form>
<br/>
<div th:if="${book.getMainClient()==null}">
  <a>This book is free</a>
</div>
<div th:if="${!(book.getMainClient()==null)}">
  <b>Client:</b>
  <br/>
  <a th:text="${book.getMainClient().getName()}">client</a>
</div>
<br/>
<div th:if="${owner}">
  <span>Book is busy by </span> <span th:text="${owner.getName()}">Person Name</span>

  <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="release book"/>
  </form>
</div>

<div th:if="${people}">
  <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
    <label for="client">Choose a client</label>
    <select th:object="${client}" th:field="*{id}" id="client">
      <option th:each="client : ${people}" th:value="${client.getId()}" th:text="${client.getName()}">
      </option>
    </select>
    <input type="submit" value="assign a book"/>
  </form>
</div>

</body>
</html>