<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Information about client</title>
</head>
<body>
<h3>Information about client</h3>
<a th:text="${client.getId()}">id</a>
<br/>
<a th:text="${client.getName()}">id</a>
<br/>
<a th:text="${client.getAge()}">id</a>
<br/>
<br/>
<a th:href="@{/clients/{id}/edit(id=${client.getId()})}">Edit client</a>
<br/>

<form th:method="DELETE" th:object="${client}" th:action="@{/clients/{id}/delete(id=${client.getId()})}">
  <br/>
  <input type="submit" value="Delete client"/>
</form>
<br/>

<div th:if="${books.isEmpty()}">
  <a>Person hasn't got any book yet.</a>
</div>
<div th:if="${!books.isEmpty()}">
  <b>Books:</b>
  <br/>
  <table th:each="book : ${books}">
    <tr th:text="${book.getTitle() + ' ' + book.getYear()}"/>
  </table>
</div>
</body>
</html>